<template>
  <div class="flex items-center justify-center py-2 px-6 font-bold bg-gray-900 text-white">
    <div class="mr-[15px]">内</div>
    <div class="ml-[3px]">容</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  },
});
</script>

<style lang="less" scoped></style>
