<template>
  <a-button type="primary">123</a-button>
  <span class="test">456</span>
  <router-view></router-view>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  },
});
</script>

<style scoped lang="less"></style>
